Rebrickable data that needs to be extracted from loaded dataframes is set definition, number of minifigs and parts, as well as rarity of parts and minifigs.

In [2]:
from src.data.sources.sets_data_source import SetsDataSource

sets_data_source = SetsDataSource()
sets_data = sets_data_source.load()
sets_data.head()

        set_num  year  theme_id  num_parts
0  0003977811-1  2022       761          1
1         001-1  1965       756         43
2        0011-2  1979        67         12
3        0011-3  1987       199          0
4        0012-1  1979       143         12

In [1]:
from src.data.sources.inventories_data_source import InventoriesDataSource

inventories_data_source = InventoriesDataSource()
inventories_data = inventories_data_source.load()
inventories_data.head()

   id set_num
0   1  7922-1
1   3  3931-1
2   4  6942-1
3  15  5158-1
4  16   903-1

In [1]:
from src.data.sources.inventory_parts_data_source import InventoryPartsDataSource

inventories_parts_data_source = InventoryPartsDataSource()
inventories_parts_data = inventories_parts_data_source.load()
inventories_parts_data.head()

   inventory_id        part_num
0             1        48379c04
1             1           48391
2             1           48395
3             1        48864c01
4             1  stickerupn0077

In [1]:
from src.data.sources.inventory_minifigs_data_source import InventoryMinifigsDataSource

inventories_minifigs_data_source = InventoryMinifigsDataSource()
inventories_minifigs_data = inventories_minifigs_data_source.load()
inventories_minifigs_data.head()

   inventory_id     fig_num
0             3  fig-001549
1             4  fig-000764
2            19  fig-000555
3            25  fig-000574
4            26  fig-000842

In [2]:
from src.data.sources.themes_data_source import ThemesDataSource

themes_data_source = ThemesDataSource()
themes_data = themes_data_source.load()
themes_data.head()

   theme_id            name
0         1         Technic
1         3     Competition
2         4  Expert Builder
3        16      RoboRiders
4        17  Speed Slammers